<section class = "column is-12  pt-2">
  <form class="box" action="/account/updateuser/" method="POST">
    <label class="label">Name</label>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <input class="input" type="text" placeholder="Enter first name" name="firstName" value="{{firstName}}"/>
        </div>
        <div class="field">
          <input class="input" type="text" placeholder="Enter last name" name="lastName" value="{{lastName}}"/>
        </div>
      </div>
    </div>
    <div class="field">
      <input class="input" type="text" placeholder="Enter email" name="email" value="{{email}}"/>
    </div>
    <div class="field">
      <input class="input" type="password" placeholder="Enter Password" name="password" value="{{password}}"/>
    </div>
    <div class="field is-grouped">
      <button class="button is-link">Update User</button>
    </div>
  </form>
</section>