<footer class="footer  has-background-dark mt-6">
  <div class="columns content is-medium has-text-white px-6">
    <section class="column is-6 pl-6 ml-6">
      <h4 class="has-text-white"> Address </h4>
      <p>2 Church Gate,<br>
        Blackrock<br>
        Cork<br>
        Republic of Ireland
      </p>
    </section>
   
    <section class="column is-6 pl-6 ml-6">
      <h4 class="has-text-white"> Categories </h4>
      <a href="/dashboard" class="has-text-light"> Dashboard </a><br>
      <a href="/about" class="has-text-light"> About </a><br>
    </section>
  </div>
</footer>
<div class="underfooter column is-full has-background-grey-dark">
  <article class="content has-text-white has-text-centered">
    AN | © 2024 Weather Top on Glitch by <a href="https://www.linkedin.com/in/andrea-nardinocchi-53084056/" target="_blank" class="has-text-light">Andrea Nardinocchi</a>
  </article>
</div>