{{> menu}}

<section class="section">
  <div class="title">
    {{station.title}}
  </div>
  <div class="subtitle">
    {{station.latitude}} <br>
    {{station.longitude}}
  </div>

  {{> edit-report}}
</section>