<nav class="navbar mb-6 is-fixed-top has-background-primary-light" role="navigation" aria-label="account navigation">
  <div class="navbar-brand pl-4">
    {{> brand}}
  </div>
  <div class="navbar-menu pr-4" id="navMenu" >
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a id="dashboard" class="button" href="/dashboard"> Dashboard </a>
          <a id="dashboard" class="button" href="/account"> Account </a>
          <a id="logout" class="button" href="/logout"> Logout </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<script>
  document.getElementById("{{active}}").classList.add("is-primary");
</script>