<nav class="navbar is-fixed-top has-background-info">
  <div class="navbar-brand">
    {{> brand}}
    <a class="navbar-item" href="/">
    <img src="/images/logo.png" alt="Logo" />
    </a>
    <span class="navbar-burger" data-target="navbarMenu" aria-expanded="false">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    </span>
  </div>
  <div id="navbarMenu" class="navbar-menu has-background-info">
    <div class="navbar-end has-background-info">
      <a href="/" class="navbar-item has-text-white">
        Home
      </a>
      <a href="/settings" class="navbar-item has-text-white">
        Settings
      </a>
      <div class="navbar-item has-dropdown is-hoverable ">
        <a  class="navbar-link has-text-white">
          Cities
        </a>

        <div class="navbar-dropdown">
          <a href="/city-focus/?city=berlin" class="navbar-item">
            Berlin
          </a>
          <a href="/city-focus/?city=amsterdam" class="navbar-item">
            Amsterdam
          </a>
          <a href="/city-focus/?city=copenhagen" class="navbar-item">
            Copenhagen
          </a>
          <a href="/city-focus/?city=cork" class="navbar-item">
            Cork
          </a>
          <a href="/city-focus/?city=new_york" class="navbar-item">
            New York
          </a>
          <a href="/city-focus/?city=paris" class="navbar-item">
            Paris
          </a>
           <a href="/city-focus/?city=san_francisco" class="navbar-item">
            San Francisco
          </a>
          <a href="/city-focus/?city=tromso" class="navbar-item">
            Tromso
          </a>
          <a href="/city-focus/?city=waterford" class="navbar-item">
            Waterford
          </a>
        </div>
      </div>
      <a href="/lifestyle" class="navbar-item has-text-white">
        Lifestyle
      </a>
      <a href="/news" class="navbar-item has-text-white">
        News
      </a>
    </div>
  </div>
</nav>
<script>
  document.getElementById("{{active}}").classList.add("is-primary");
</script>