{{> menu active="about"}}
<p class=" pt-6"></p>
<section class="box is-3 has-text-centered mt-6 pt-6">
  <h3 class="title">
    Weather Stations
  </h3>
  <div class="section">
    This app will show you the weather forecasts of a few cities...
  </div>
</section>