{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    Weather Stations
  </h3>
  <div class="section">
    This app will show you the weather forecasts of a few cities...
  </div>
</section>