{{> welcome-menu active="home"}}
<section class="section mt-6">
  <article class="content">
  <main class="columns mt-6">
  </main>
  <div class="container">
  <div class="columns mx-6 mb-6">
    <div class="column">
      <p class="subtitle has-text-centered subtitle is-4 pt-6"> 
        Log in or Sign up to add your weather data to the stations!
      </p>
    </div>
  </div>
  <main class="columns mx-6 mb-6">
    <section class="column is-3 p-4">
      <a id="cityfocus-1-url">
        <section id="cityfocus-1-city" class="card has-text-centered has-background-black">
          <header class="card-header">
            <p id="cityfocus-1-heading" class="card-header-title is-size-4 is-centered has-text-white">
            </p>
          </header>
          <div class="card-image">
            <figure class="image is-128x128 m-auto">
              <img src="https://openweathermap.org/img/wn/01d@2x.png">
            </figure>
          </div>
          <div class="columns">
            <div class="column">
              <article class="card-content">
                <p class="content is-size-5 has-text-white has-text-centered">
                  Sunny day!
                </p>
              </article>
            </div>
          </div>
        </section>
      </a>
    </section>
    <section class="column is-3 p-4">
      <a id="cityfocus-1-url">
        <section id="cityfocus-1-city" class="card has-text-centered has-background-black">
          <header class="card-header">
            <p id="cityfocus-1-heading" class="card-header-title is-size-4 is-centered has-text-white">
            </p>
          </header>
          <div class="card-image">
            <figure class="image is-128x128 m-auto">
              <img src="https://openweathermap.org/img/wn/02d@2x.png">
            </figure>
          </div>
          <div class="columns">
            <div class="column">
              <article class="card-content">
                <p class="content is-size-5 has-text-white has-text-centered">
                  Few clouds!
                </p>
              </article>
            </div>
          </div>
        </section>
      </a>
    </section>
    <section class="column is-3 p-4">
      <a id="cityfocus-1-url">
        <section id="cityfocus-1-city" class="card has-text-centered has-background-black">
          <header class="card-header">
            <p id="cityfocus-1-heading" class="card-header-title is-size-4 is-centered has-text-white">
            </p>
          </header>
          <div class="card-image">
            <figure class="image is-128x128 m-auto">
              <img src="https://openweathermap.org/img/wn/03d@2x.png">
            </figure>
          </div>
          <div class="columns">
            <div class="column">
              <article class="card-content">
                <p class="content is-size-5 has-text-white has-text-centered">
                  Scattered clouds!
                </p>
              </article>
            </div>
          </div>
        </section>
      </a>
    </section>
    <section class="column is-3 p-4">
      <a id="cityfocus-1-url">
        <section id="cityfocus-1-city" class="card has-text-centered has-background-black">
          <header class="card-header">
            <p id="cityfocus-1-heading" class="card-header-title is-size-4 is-centered has-text-white">
            </p>
          </header>
          <div class="card-image">
            <figure class="image is-128x128 m-auto">
              <img src="https://openweathermap.org/img/wn/04d@2x.png">
            </figure>
          </div>
          <div class="columns">
            <div class="column">
              <article class="card-content">
                <p class="content is-size-5 has-text-white has-text-centered">
                  Broken clouds!
                </p>
              </article>
            </div>
          </div>
        </section>
      </a>
    </section>
  </main>
  <main class="columns mx-6 mb-6">
    <section class="column is-3 p-4">
      <a id="cityfocus-1-url">
        <section id="cityfocus-1-city" class="card has-text-centered has-background-black">
          <header class="card-header">
            <p id="cityfocus-1-heading" class="card-header-title is-size-4 is-centered has-text-white">
            </p>
          </header>
          <div class="card-image">
            <figure class="image is-128x128 m-auto">
              <img src="https://openweathermap.org/img/wn/09d@2x.png">
            </figure>
          </div>
          <div class="columns">
            <div class="column">
              <article class="card-content">
                <p class="content is-size-5 has-text-white has-text-centered">
                  Shower rain!
                </p>
              </article>
            </div>
          </div>
        </section>
      </a>
    </section>
    <section class="column is-3 p-4">
      <a id="cityfocus-1-url">
        <section id="cityfocus-1-city" class="card has-text-centered has-background-black">
          <header class="card-header">
            <p id="cityfocus-1-heading" class="card-header-title is-size-4 is-centered has-text-white">
            </p>
          </header>
          <div class="card-image">
            <figure class="image is-128x128 m-auto">
              <img src="https://openweathermap.org/img/wn/10d@2x.png">
            </figure>
          </div>
          <div class="columns">
            <div class="column">
              <article class="card-content">
                <p class="content is-size-5 has-text-white has-text-centered">
                  Rain!
                </p>
              </article>
            </div>
          </div>
        </section>
      </a>
    </section>
    <section class="column is-3 p-4">
      <a id="cityfocus-1-url">
        <section id="cityfocus-1-city" class="card has-text-centered has-background-black">
          <header class="card-header">
            <p id="cityfocus-1-heading" class="card-header-title is-size-4 is-centered has-text-white">
            </p>
          </header>
          <div class="card-image">
            <figure class="image is-128x128 m-auto">
              <img src="https://openweathermap.org/img/wn/11d@2x.png">
            </figure>
          </div>
          <div class="columns">
            <div class="column">
              <article class="card-content">
                <p class="content is-size-5 has-text-white has-text-centered">
                  Thunderstorm!
                </p>
              </article>
            </div>
          </div>
        </section>
      </a>
    </section>
    <section class="column is-3 p-4">
      <a id="cityfocus-1-url">
        <section id="cityfocus-1-city" class="card has-text-centered has-background-black">
          <header class="card-header">
            <p id="cityfocus-1-heading" class="card-header-title is-size-4 is-centered has-text-white">
            </p>
          </header>
          <div class="card-image">
            <figure class="image is-128x128 m-auto">
              <img src="https://openweathermap.org/img/wn/13d@2x.png">
            </figure>
          </div>
          <div class="columns">
            <div class="column">
              <article class="card-content">
                <p class="content is-size-5 has-text-white has-text-centered">
                  Snow!
                </p>
              </article>
            </div>
          </div>
        </section>
      </a>
    </section>
  </main>
  <main class="columns mx-6 mb-6">
    <section class="column is-3 p-4">
      <a id="cityfocus-1-url">
        <section id="cityfocus-1-city" class="card has-text-centered has-background-black">
          <header class="card-header">
            <p id="cityfocus-1-heading" class="card-header-title is-size-4 is-centered has-text-white">
            </p>
          </header>
          <div class="card-image">
            <figure class="image is-128x128 m-auto">
              <img src="https://openweathermap.org/img/wn/50d@2x.png">
            </figure>
          </div>
          <div class="columns">
            <div class="column">
              <article class="card-content">
                <p class="content is-size-5 has-text-white has-text-centered">
                  Mist!
                </p>
              </article>
            </div>
          </div>
        </section>
      </a>
    </section>
    <section class="column is-9 p-4">
      <section id="cityfocus-1-city" class="box has-text-centered ">
        <div class="pl-6 pr-6 pt-3 pb-3">
          <p> 
            Lorem Ipsum bla bla Lorem Ipsum bla bla Lorem Ipsum bla bla Lorem Ipsum bla bla Lorem Ipsum bla bla
          </p>
          <p> 
            Lorem Ipsum bla bla Lorem Ipsum bla bla Lorem Ipsum bla bla Lorem Ipsum bla bla Lorem Ipsum bla bla
          </p>
          <p> 
            Lorem Ipsum bla bla Lorem Ipsum bla bla Lorem Ipsum bla bla Lorem Ipsum
          </p>
          <p></p>
          <p> </p>
        </div>
      </section>
    </section>
</section>
</main>