
{{> menu active="lifestyle"}}

 <div class="mt-3 p-6">
 </div>
  <section class="columns has-background-primary-light">

  <section class="column is-12 pb-6">
    <article class="content pt-2">
      <h2 class="has-text-centered pt-2">Search for your destination</h2>
    </article>
    <div class="has-text-centered pt-4 ">
      <div class="field is-grouped">
        <p class="control is-expanded">
          <input class="input" type="text" placeholder="Find a repository">
        </p>
        <p class="control">
          <button class="button is-info">
          Search
          </button>
        </p>
      </div>
    </div>
</section>
</section>
<article class="content">
  <div class="container">
  <main class="columns content mt-6">
    <section class="column is-full px-6" >
      <h3> Destinations Video </h3>
      <hr>
    </section>
  </main>
  <main class="columns box">
    <section class="column is-6">
      <figure class="image is-16by9">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/YFhwEJosUsU" title="TOP 50 • Most Beautiful Places in the World 8K ULTRA HD" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </figure>
    </section>
    <section class="column is-6">
      <p>
        Discover the most stunning tourist destinations on the planet to live a once in a life time travel experience, which will undoubtedly offer you fond and lasting memories to share.
      </p>
      <p>
        From the most peculiar architectually gifted buildings in Lisbon to the breathtaking Iguazu Falls between Argentina and Brazil, the world is your oyster.  
      </p>
      <p>
        Enjoy the video!
      </p>
      <div class="buttons pt-3">
        <a href="/">
        <button class="button is-info">Find out more</button>
        </a>
      </div>
    </section>
  </main>
  <main class="columns mt-6">
    <section class="column is-full px-6">
      <h3> Blog </h3>
      <hr>
    </section>
  </main>
  <main class="columns">
    <section class="column is-3">
      <div class="card">
        <div class="card-image">
          <figure class="image is-16by9">
            <a href="https://ibb.co/48ZxPky">
            <img src="https://i.ibb.co/8rDV6k3/coastal-view.jpg" alt="Coastal view" border="0">
            </a><br /><a target='_blank' href='https://imgbb.com/'>host image online</a><br />
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <p>
              Do you fancy spending some time in a sun-kissed town perked on a cliff with a stunning view of the ocean?
              <a href="/">Read more</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="column is-3">
      <div class="card">
        <div class="card-image">
          <figure class="image is-16by9">
            <a href="https://ibb.co/QFYPbTX">
            <img src="https://i.ibb.co/Lz9xkcv/city-destination.jpg" alt="City destination" border="0">
            </a>
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <p>
              If you love Venice, you might want to read this article and find out about other beautiful cities with canals going through. <a href="/">Read more</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="column is-3">
      <div class="card">
        <div class="card-image">
          <figure class="image is-16by9">
            <a href="https://ibb.co/QNMzJNF">
            <img src="https://i.ibb.co/R0cZg0p/exotic-beach.jpg" alt="Exotic beach" border="0">
            </a>
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <p>
              The timeless attraction of an exotic white sandy beach and their gentle breeze that caresses your skin, while enjoying the sun. <a href="/">Read more</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="column is-3">
      <div class="card">
        <div class="card-image">
          <figure class="image is-16by9">
            <a href="https://ibb.co/rc4rMDQ">
            <img src="https://i.ibb.co/s6yYQ8g/city-tourism.jpg" alt="city-tourism" border="0">
            </a>
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <p>
              Discover all the tourist events near to you with our Geolocating Tourist Events APP that you can download to your phone. <a href="/">Read more</a>
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
  <main class="columns mt-6">
    <section class="column is-full px-6">
      <h3> Things to do </h3>
      <hr>
    </section>
  </main>
  <main class="columns three-column-layout mb-6 ">
    <section class="column is-4">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <h4>Travel</h4>
          </div>
        </div>
        <div class="card-image">
          <figure class="image is-16by9">
            <a href="https://ibb.co/xHHqqBh">
            <img src="https://i.ibb.co/M66kktn/travel.jpg" alt="Travel signs" border="0">
            </a>
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <p>
              Whether you are a seasoned traveler or a first-time one, take a look at our traveling guide.  <a href="/">Read more</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="column is-4">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <h4>Sports & Recreation</h4>
          </div>
        </div>
        <div class="card-image">
          <figure class="image is-16by9">
            <a href="https://ibb.co/dQzmMVc">
            <img src="https://i.ibb.co/rZ1d0zt/paragliding.jpg" alt="paragliding" border="0">
            </a>
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <p>Is paragliding your thing or maybe you just get a kick out of a jog every now and then? Just get sporty! <a href="/">Read more</a></p>
          </div>
        </div>
      </div>
    </section>
    <section class="column is-4">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <h4>Food and Drinks</h4>
          </div>
        </div>
        <div class="card-image">
          <figure class="image is-16by9">
            <a href="https://ibb.co/Msy5mLz">
            <img src="https://i.ibb.co/f2VGs73/shrimps.jpg" alt="shrimps" border="0">
            </a>
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <p>Delve into the cuisines from all over the world through this food and drink journey. <a href="/">Read more</a></p>
          </div>
        </div>
      </div>
    </section>
  </main>
</article>
    