{{> welcome-menu active="signup"}}

<section class="section mt-6">
  <h1 class="title pt-4 pb-6 has-text-centered">Sign up</h1>
<section class="columns">
  <section class="column is-6 px-6">
     <section  class="card has-text-centered has-background-info-dark px-6">
          
 <div class="card-image">
            <figure class="image is-256x256 m-auto">
              <img src="https://i.ibb.co/20JhHcP/weather-icons.png" alt="Weather icons" border="0">
            </figure>
          </div>
     </section>

  </section>
  <section class = "column is-6 mt-6 pt-6">
  <form action="/register" method="POST" class="mb-6" >
    <label class="label">Name</label>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <input class="input" type="text" placeholder="Enter first name" name="firstName">
        </div>
        <div class="field">
          <input class="input" type="text" placeholder="Enter last name" name="lastName">
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Email</label> <input class="input" type="text" placeholder="Enter email" name="email">
    </div>
    <div class="field">
      <label class="label">Password</label> <input class="input" type="password" placeholder="Enter Password" name="password">
    </div>
    <div class="field is-grouped">
      <button class="button is-link">Submit</button>
    </div>
  </form>
  </section>
</section>