{{> menu active="station" }}
<section class="pt-6"></section>
<section class="pt-6 has-text-centered">
  <p class=" title">
    {{station.title}}
  </p>
  <hr>
</section>
<section class="box mt-3">
  {{> listreadingstationsdata}}
  <div class="box" id="chart"></div>
</section>
<section class="box section">
  {{> liststationreading-reports}}
  <section >
    <a href="/dashboard">
    <button class="button is-link">Go back to the Dashboard</button>
    </a>
  </section>
</section>
<script>
const data = {
    labels: [
      {{#each station.trendLabels}}
        "{{this}}",
      {{/each}}
    ],
    datasets: [
      {
        name: "Temperature", type: "line",
        values: [
          {{#each station.tempTrend}}
            {{this}},
          {{/each}}
        ]
      }
    ]
  }
  const chart = new frappe.Chart("#chart", {
    title: "Temperature Trend",
    data: data,
    type: 'line',
    height: 250,
  })
</script> 

